parameters:
    level: 9
    paths:
        - src
        - tests

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine :
        objectManagerLoader : tests/object-manager.php

    ignoreErrors:
        - "#type mapping mismatch: property can contain#"
        - "#Do not use chained method calls. Put each on separated lines.#"

    excludePaths:
        - src/Kernel.php

    checkGenericClassInNonGenericObjectType: false
