{% extends 'base.html.twig' %}

{% block title 'Edit Program'|trans %}

{% block body %}
    <div class="text-center">
        {% include 'program/_header.html.twig' %}

        {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('program_index') }}">{{ 'Cancel'|trans }}</a>

        {{ include('program/_delete_form.html.twig') }}
    </div>
{% endblock %}
